html, body {
    padding: 0;
    margin: 0;
}
.vega-bind label {
    display: flex;
    align-items: center;
}
.vega-bind .vega-bind-name,
.vega-bind label span {
    color: steelblue;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(10, 58, 96);
}

.link {
    color: aliceblue;
}
header {
    height: 3rem;
}
header .inner-header {
    position: fixed;
    width: 100%;
    padding: 1rem;
    background-color: steelblue;
    color: #fff;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}

.title-bar {
    font-size: 1.2vw;
    font-weight: 600;
}

header .navbar {
    display: flex;
    gap: 1rem;
    margin-right: 3rem;
}

.navbar div a {
    text-decoration: none;
    color: #fff;
}
.navbar div a:hover {
    color: rgb(195, 196, 198);
}

.charts {
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px dashed grey;
}

.pane {
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: steelblue;
    opacity: .7;
    color: aliceblue;
}

.chart {
    width: 100%;
}